<body>    
    <h1>✈ Password Retrive ✈</h1><br>    
    <div class="login">    
    <table align="center">   
        <tr>
            <td>
                <label><b>Email</b></label> 
            </td>
            <td>
                <input type="email" name="Email" id="email" placeholder="Email">    
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" name="retrive" id="retrive" value="Retrive">       
            </td>
        </tr>    
    </table>     
    </div>    
<br>
    <br>
    <br>
    <br>
</body>    

