<body>
    <h1>✈ User signup page ✈</h1><br>

    <div class="signup">

        <table align="center">
            <tr>
                <td colspan="2" align="center">
                    <label><b>Sign-up</b></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Title</b></label>
                </td>
                <td> 
                    <select id=title name=title>
                    <option id=None>----------------------------------</option>
                    <option  id=mr value=Mr>    Mr   </option>
                    <option  id=ms value=Ms>   Ms </option>
                    <option  id=mrs value=Mrs>   Mrs  </option>
                    </select></td></tr>
            <tr>
                <td>
                    <label><b>Firstname</b></label>
                </td>
                <td>
                    <input type="text" name="FirtsName" id="firstname" placeholder="FirstName">
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Lastname</b></label>
                </td>
                <td>
                    <input type="text" name="LastName" id="lastnamee" placeholder="LastName">
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Date-of-Birth</b></label>
                </td>
                <td>
                    <input type="date">
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Phone Number</b></label>
                </td>
                <td>
                    <input type="number" name="PhoneNumber" id="phonenumeber" placeholder="PhoneNumber">
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Email</b></label>
                </td>
                <td>
                    <input type="email" name="Email" id="Email" placeholder="Email">
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Password</b></label>
                </td>
                <td>
                    <input type="password" name="Password1" id="password1" placeholder="Password">
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>ConformPassword</b></label>
                </td>
                <td>
                    <input type="password" name="Password2" id="password2" placeholder="ConformPassword">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" value="signup">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
</body>
